/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Container principal */
.main-container {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Título */
h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo dos labels */
label {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
}

/* Estilo dos inputs */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #3498db;
}

/* Estilo do botão */
button[type="submit"] {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #219150;
    transform: translateY(-3px);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .main-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 12px;
        padding: 8px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }
}


/* Botão Voltar */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
}

.button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}